* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {

    display: grid;
    grid-template-columns: 1fr 400px;
    grid-template-areas:
    'main-header main-header'
    'main-content main-aside'
    ;

}

header {

    background-color: #2e2e2e;
    grid-area: main-header;
    display: flex;
    justify-content: center;
    height: 50px;

}

main {

    grid-area: main-content;
    background-color: white;

}

.content {
    margin: 30px 0 0 30px;
    font-family: "Helvetica", sans-serif;

}


.content img {

    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: center;
    margin-bottom: 10px;
    padding-right: 30px;
}

.content h1 {
    margin-bottom: 10px;
    font-size: 24px;

} 

.content p {
    font-size: 12px;
    
} 

aside {

    background-color:#9c9c9c;
    grid-area: main-aside;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    padding: 30px 0 0 20px;
    gap: 15px;
    font-family: "Helvetica", sans-serif;
}

.recomendation-card {
    display: flex;

}

.recomendation-card img {

    width: 200px;
    height: 100px;
    object-fit: cover;
    object-position: center;

}

.recomendation-text {

    margin-left: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    
}

.recomendation-text h1 {

    font: bold 18px "Helvetica", sans-serif;
    color: #2e2e2e;

}

.recomendation-text h2 {

    font: bold 15px "Helvetica", sans-serif;
    color: #2e2e2e;

}

.recomendation-text h3 {

    font: bold 12px "Helvetica", sans-serif;
    color: #2e2e2e;

}

.recomendation-text p {

    font: bold 9px "Helvetica", sans-serif;
    color: #2e2e2e;

}

@media (max-width: 768px) {
    
    body {

        grid-template-columns: 100%;
        grid-template-areas:
        'main-header '
        'main-content'
        'main-aside'
        ;
    }

    aside {

        align-items: center;
        flex-wrap: wrap;
        display: flex;
        flex-direction:column;
        padding:20px 0;

    }

    .recomendation-card {
        display:block;    
    }

    .recomendation-card img {

        width: 380px;
        height: 250px;
        object-fit: cover;
        object-position: center;
    
    }
    
    .recomendation-text {
    
        margin-left: 0;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        
    }
    
   
}

@media (max-width: 426px) {
    
    .content {
        margin: 10px;
    
    }
    
    .content img {

        width: 100%;
        height: 250px;
        object-fit: cover;
        object-position: center;
        margin-bottom: 10px;
        padding-right: 0;
    }
}

@media (max-width: 376px) {
    body {
        grid-template-columns: 100%;
        grid-template-areas:
        'main-header '
        'main-content'
        'main-aside'
        ;

    }

    .content {
        margin: 10px;
    
    }


    .content img {

        width: 100%;
        height: 150px;
        object-fit: cover;
        object-position: center;
        margin-bottom: 10px;
        padding-right: 0;
    }

    aside {

        align-items: center;
        flex-wrap: wrap;
        display: flex;
        flex-direction:column;
        padding: 20px 0 0 0;

    }

    .recomendation-card {

        display:block;
    
    }

    .recomendation-card img {

        width: 250px;
        height: 150px;
        object-fit: cover;
        object-position: center;
    
    }

    .recomendation-text h2 {

        font: bold 12px "Helvetica", sans-serif;
        margin-bottom: 10px;    
    }
    
    .recomendation-text {
    
        margin-left: 0;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        
    }
    
   
}