* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {

    background-color:rgb(20, 20, 20);
}

main{

    padding: 24px;

}

.menu {

    display: flex;
    justify-content:space-between;
    background-color: rgb(44, 44, 44);
    align-items: center;
    padding: 15px;


}

.main-menu {

    display: flex;
    list-style: none;
    font: bold 15px "Helvetica", sans-serif;
    gap: 15px;

}

.main-button {

    border-radius: 20px;
    border: 1px solid white;
    padding: 10px 20px 10px;
    background-color: transparent;
    color: white;

}

.main-menu a {
    
    opacity: 0.6;
    color: white;
    text-decoration: none;

}

.main-menu a:hover {

    opacity: 1;

}

main h1 {

    color: white;
    font: bold 30px "Helvetica", sans-serif;
    text-align: center;

}

.videos {

    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    margin-top: 24px;

}

.video-card {

    width: 300px;
    background-color: black;

}

.video-card img {

    width: 100%;
    height: 200px;
    object-fit: cover;

}

.video-card h1 {
    font: 18px "Helvetica", sans-serif;
}
